table, tr, td, th {
    border: 1px solid #BFBF9F;
    border-collapse: collapse;
    font-family: Calibri;
}

tr th {
    background-color: limegreen;
    text-align: left;
    color: white;
    font-style: normal
}

td {
    width: 130px;
}

table tr:nth-child(2n) {
    background-color: white
}

table tr:nth-child(2n+1) {
    background-color: aquamarine
}