<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
namespace T4Template
{
	class ClassGettersSetters
	{
		<# for(int i = 0; i < 8; i++) { #>
			public int Item<#=i#> { get; set; }
		<# } #>
	}
}