body{
    background: #a9a9a9;
}

header h1 {
    text-align: center;
    color: #F9FDCF;
}

section header h1{
    text-align: left;
    color: #F9FDCF;
}

.centur-p{
    text-align: center;
}

header p{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px
}

section p{
    text-align: left;
}

a{
    color: white;
}

.black-a{
    color: black;
    text-decoration: none;
}
